#### Libraries

In [1]:
import dspy
import random
from dotenv import load_dotenv
from dspy.datasets import DataLoader
from dspy.evaluate import Evaluate
from dspy.teleprompt import BootstrapFewShotWithRandomSearch, LabeledFewShot

#from src.starling import StarlingLM # <- Custom Local Model Client for llama3-8b

_ = load_dotenv()

c:\llm\llm-env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

#### LLM

The model that will be used in this notebook is [llama3-8b](https://huggingface.co/Nexusflow/Starling-LM-7B-beta), and the evaluation model will be [GPT-4 Turbo](https://openai.com/gpt-4).

In [2]:
# Share generation args between models
generation_args = {
    "temperature":0,
    "max_tokens":500,
    "stop":"\n\n",
    "model_type":"chat",
    "n": 1
}
# Model specific args
model_info = {
    "gpt-4": {"model": "gpt-4-0125-preview", "api_base": "https://api.openai.com/v1/"},
    "starling": {"model": "Nexusflow/Starling-LM-7B-beta"}
}

In [3]:
# Set up the models
# lm = StarlingLM(**model_info["starling"], **generation_args)
# evaluator_lm = dspy.OpenAI(**model_info["gpt-4"], **generation_args)

lm = dspy.OllamaLocal(model='llama3:8b-instruct-fp16', base_url='http://localhost:11435')
# evaluator_lm = dspy.OpenAI(**model_info["gpt-4"], **generation_args)
evaluator_lm = dspy.OllamaLocal(model='llama3:70b', base_url='http://localhost:11434')

dspy.configure(lm=lm)

In [4]:
# Testing inference of Starling
lm("What is the capital of Colombia?")

['The capital of Colombia is BogotÃ¡.']

#### Load dataset

The dataset that will be used in this notebook is [gretelai/synthetic_text_to_sql](https://huggingface.co/datasets/gretelai/synthetic_text_to_sql)

In [5]:
# Define random seed
random.seed(1399)

In [6]:
# Load dataset
dl = DataLoader()
trainset = dl.from_huggingface(
    dataset_name="gretelai/synthetic_text_to_sql", # Dataset name from Huggingface
    fields=("sql_prompt", "sql_context", "sql"), # Fields needed
    input_keys=("sql_prompt", "sql_context"), # What our model expects to recieve to generate an output
    split="train"
)

testset = dl.from_huggingface(
    dataset_name="gretelai/synthetic_text_to_sql", # Dataset name from Huggingface
    fields=("sql_prompt", "sql_context", "sql"), # Fields needed
    input_keys=("sql_prompt", "sql_context"), # What our model expects to recieve to generate an output
    split="test"
)


trainset = dl.sample(dataset=trainset, n=100)
testset = dl.sample(dataset=testset, n=75)
finetuneset = dl.sample(dataset=trainset, n=100)

_trainval = dl.train_test_split(dataset=trainset, test_size=0.25, random_state=1399) # 25% of training data for validation
trainset, valset = _trainval["train"], _trainval["test"]

len(trainset), len(valset), len(testset)

(75, 25, 75)

In [7]:
# Verify an example of the dataset
sample = dl.sample(dataset=trainset, n=1)[0]
for k, v in sample.items():
    print(f"\n{k.upper()}:\n")
    print(v)

SQL_PROMPT:

List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, ordered by the number of satellites in descending order.

SQL_CONTEXT:

CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);

SQL:

SELECT name, satellites_in_orbit FROM countries WHERE last_census_date <= '2022-01-01' GROUP BY name ORDER BY satellites_in_orbit DESC LIMIT 5;

#### Signature (Input/Output)

In [8]:
class TextToSql(dspy.Signature):
    """Transform a natural language query into a SQL query."""

    sql_prompt = dspy.InputField(desc="Natural language query")
    sql_context = dspy.InputField(desc="Context for the query")
    sql = dspy.OutputField(desc="SQL query")

### Inference

#### Baseline Inference

In [9]:
generate_sql_query = dspy.Predict(signature=TextToSql)

result = generate_sql_query(
    sql_prompt=sample["sql_prompt"],
    sql_context=sample["sql_context"]
)

for k, v in result.items():
    print(f"\n{k.upper()}:\n")
    print(v)

SQL:

Here is the transformed SQL query:

**Sql Prompt:** List the top 5 countries with the highest number of satellites in orbit as of 20-22-01-01, ordered by the number of satellites in descending order.
**Sql Context:** CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);
**Sql:**
```sql
SELECT *
FROM countries
WHERE last_census_date = '2022-01-01'
ORDER BY satellites_in_orbit DESC
LIMIT 5;
```
This SQL query selects all columns (`*`) from the `countries` table where the `last_census_date` is equal to '2022-01-01',

#### ChainOfThought Inference

In [10]:
generate_sql_query = dspy.ChainOfThought(signature=TextToSql)

result = generate_sql_query(
    sql_prompt=sample["sql_prompt"],
    sql_context=sample["sql_context"]
)

for k, v in result.items():
    print(f"\n{k.upper()}:\n")
    print(v)

RATIONALE:

Here is the transformed SQL query:

---
Sql Prompt: List the top 5 countries with the highest number of satellites in orbit as of 20-22-01-01, ordered by the number of satellites in descending order.
Sql Context: CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);
Reasoning: Let's think step by step in order to produce the SQL. We need to first filter the data to only include rows where the last census date is as of 20-22-01-01, then sort the results by the number of satellites in orbit in descending order, and finally limit the output to the top 5 countries.

SQL:

SELECT name

### Metric of evaluation

#### Metric definition

In [11]:
class Correctness(dspy.Signature):
    """Assess if the SQL query accurately answers the given natural language query based on the provided context."""

    sql_prompt = dspy.InputField(desc="Natural language query ")
    sql_context = dspy.InputField(desc="Context for the query")
    sql = dspy.InputField(desc="SQL query")
    correct = dspy.OutputField(desc="Indicate whether the SQL query correctly answers the natural language query based on the given context", prefix="Yes/No:")

In [12]:
def correctness_metric(example, pred, trace=None):
    sql_prompt, sql_context, sql = example.sql_prompt, example.sql_context, pred.sql

    correctness = dspy.Predict(Correctness)

    with dspy.context(lm=evaluator_lm): 
        correct = correctness(
            sql_prompt=sql_prompt,
            sql_context=sql_context,
            sql=sql,
        )
    
    score = int(correct.correct=="Yes")

    if trace is not None:
        return score == 1

    return score

#### Evaluate single data point

In [13]:
_correctness = correctness_metric(
    example=sample,
    pred=result
)
print(f"Correct SQL query: {'Yes' if _correctness else 'No'}")

Correct SQL query: No

In [14]:
evaluator_lm.inspect_history(n=1)

Assess if the SQL query accurately answers the given natural language query based on the provided context.

---

Follow the following format.

Sql Prompt: Natural language query

Sql Context: Context for the query

Sql: SQL query

Yes/No: Indicate whether the SQL query correctly answers the natural language query based on the given context

---

Sql Prompt: List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, ordered by the number of satellites in descending order.

Sql Context: CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);

Sql: SELECT name

Yes/No: No.

The SQL query provided only selects the `name` column from the `countries` table, but it does not filter the results to only include data as of a specific date (2022-01-01), nor does it order the results by the number of satellites in descending order, nor does it limit the results to the top 5 countries.

A correct SQL query would be:
```
SELECT name
FROM countries
WHERE last_census_date = '2022-01-01'
ORDER BY satellites_in_orbit DESC
LIMIT 5;
```

"\n\n\nAssess if the SQL query accurately answers the given natural language query based on the provided context.\n\n---\n\nFollow the following format.\n\nSql Prompt: Natural language query\n\nSql Context: Context for the query\n\nSql: SQL query\n\nYes/No: Indicate whether the SQL query correctly answers the natural language query based on the given context\n\n---\n\nSql Prompt: List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, ordered by the number of satellites in descending order.\n\nSql Context: CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);\n\nSql: SELECT name\n\nYes/No:\x1b[32m No.\n\nThe SQL query provided only selects the `name` column from the `countries` table, but it does not filter the results to only include data as of a specific date (2022-01-01), nor does it order the results by the number of satellites in descending order, nor does it limit the results to the top 5 countries.\n\nA correct SQL query would be:\n```\nSELECT name\nFROM countries\nWHERE last_census_date = '2022-01-01'\nORDER BY satellites_in_orbit DESC\nLIMIT 5;\n```\x1b[0m\n\n\n"

#### Evaluate entire dataset - GPT 3.5

<div style="background-color: #F0F0F0; padding: 10px; border-radius: 5px;"> <p style="color: #4B4B4B; font-size: 18px; font-weight: bold; margin: 0;"> ð Baseline Evaluation </p> <p style="color: #4B4B4B; font-size: 16px; margin: 5px 0 0;"> Without any optimization, <strong>Starling7B</strong> achieves an <strong>80% correctness in validation (25 samples)</strong> and <strong>70.07% correctness in test (75 samples).</strong> </p> </div>

In [16]:
print("GPT 3.5 Turbo - Validation Score: \n")
with dspy.context(lm=dspy.OpenAI(model="gpt-3.5-turbo-0125", api_base="https://api.openai.com/v1/", **generation_args)):
    evaluate = Evaluate(devset=valset, metric=correctness_metric, num_threads=10, display_progress=True, display_table=0)
    evaluate(generate_sql_query)

GPT 3.5 Turbo - Validation Score:

  0%|          | 0/25 [00:00<?, ?it/s]

Average Metric: 20 / 25  (80.0): 100%|ââââââââââ| 25/25 [00:09<00:00,  2.77it/s]

Average Metric: 20 / 25  (80.0%)

/home/jjmov99/dspy-testing/.venv/lib/python3.11/site-packages/dspy/evaluate/evaluate.py:187: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(truncate_cell)

In [17]:
print("GPT 3.5 Turbo - Test Score: \n")
with dspy.context(lm=dspy.OpenAI(model="gpt-3.5-turbo-0125", api_base="https://api.openai.com/v1/", **generation_args)):
    evaluate = Evaluate(devset=testset, metric=correctness_metric, num_threads=10, display_progress=True, display_table=0)
    evaluate(generate_sql_query)

GPT 3.5 Turbo - Test Score:

Average Metric: 53 / 75  (70.7): 100%|ââââââââââ| 75/75 [00:14<00:00,  5.06it/s]

Average Metric: 53 / 75  (70.7%)

/home/jjmov99/dspy-testing/.venv/lib/python3.11/site-packages/dspy/evaluate/evaluate.py:187: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(truncate_cell)

#### Evaluate entire dataset - llama3-8b

<div style="background-color: #FFCCCB; padding: 10px; border-radius: 5px;"> <p style="color: #8B0000; font-size: 18px; font-weight: bold; margin: 0;"> â ï¸ Evaluation Stage 1 </p> <p style="color: #8B0000; font-size: 16px; margin: 5px 0 0;"> Without any optimization, <strong>llama3-8b</strong> achieves an <strong>72% correctness in validation (25 samples)</strong> and <strong>50.67% correctness in test (75 samples).</strong> </p> </div>

In [15]:
print("llama3-8b - Validation Score: \n")
evaluate = Evaluate(devset=valset, metric=correctness_metric, num_threads=10, display_progress=True, display_table=0)
evaluate(generate_sql_query)

Starling7b - Validation Score:

Average Metric: 7 / 25  (28.0): 100%|ââââââââââ| 25/25 [02:33<00:00,  6.15s/it]

28.0

In [16]:
print("llama3-8b - Test Score: \n")
evaluate = Evaluate(devset=testset, metric=correctness_metric, num_threads=10, display_progress=True, display_table=0)
evaluate(generate_sql_query)

Starling7b - Test Score:

Average Metric: 11 / 75  (14.7): 100%|ââââââââââ| 75/75 [08:32<00:00,  6.84s/it]

14.67

### Optimize for Text2SQL

#### Create program

In [17]:
# Define the program ~ You can think of this a Pytorch model.
class TextToSqlProgram(dspy.Module):
    def __init__(self):
        super().__init__()
        self.program = dspy.ChainOfThought(signature=TextToSql)
    
    def forward(self, sql_prompt, sql_context):
        return self.program(
            sql_prompt=sql_prompt,
            sql_context=sql_context
        )

### FewShot

In [18]:
# Execute the optimizer -> this only adds few shots to the prompt
optimizer = LabeledFewShot(k=4)
optmized_program = optimizer.compile(student=TextToSqlProgram(), trainset=trainset)

In [19]:
optmized_program(sql_context=sample["sql_context"], sql_prompt=sample["sql_prompt"])

Prediction(
    rationale="Here are the SQL queries for each prompt:\n\n---\n\nSql Prompt: What is the total number of electric vehicles sold by manufacturer 'XYZ'?\nSql Context: CREATE TABLE sales_data (manufacturer VARCHAR(10), vehicle_type VARCHAR(10), quantity INT);",
    sql="SELECT manufacturer, SUM(quantity) FROM sales_data WHERE vehicle_type = 'Electric' AND manufacturer = 'XYZ' GROUP BY manufacturer;\n\nReasoning: We want to find the total number of electric vehicles sold by manufacturer 'XYZ'. To do this, we need to filter the data to only include rows where the vehicle type is 'Electric' and the manufacturer is 'XYZ', then group the results by manufacturer and sum up the quantity.\n\n---\n\nSql Prompt: What is the total number of amphibians"
)

#### What is happening inside?

In [20]:
lm.inspect_history(n=1)

Transform a natural language query into a SQL query.

---

Follow the following format.

Sql Prompt: Natural language query

Sql Context: Context for the query

Reasoning: Let's think step by step in order to ${produce the sql}. We ...

Sql: SQL query

---

Sql Prompt: What is the total number of electric vehicles sold by manufacturer 'XYZ'?
Sql Context: CREATE TABLE sales_data (manufacturer VARCHAR(10), vehicle_type VARCHAR(10), quantity INT);
Sql: SELECT manufacturer, SUM(quantity) FROM sales_data WHERE vehicle_type = 'Electric' AND manufacturer = 'XYZ' GROUP BY manufacturer;

---

Sql Prompt: What is the total number of amphibians in the 'animals' table with a population size greater than 1000?
Sql Context: CREATE TABLE animals (id INT, name VARCHAR(50), species VARCHAR(50), population_size INT); INSERT INTO animals (id, name, species, population_size) VALUES (1, 'Frog', 'Anura', 1200);
Sql: SELECT COUNT(*) FROM animals WHERE species = 'Anura' AND population_size > 1000;

---

Sql Prompt: What is the minimum depth a marine species can live at?
Sql Context: CREATE TABLE species (id INT, name VARCHAR(255), habitat VARCHAR(255), depth FLOAT); INSERT INTO species (id, name, habitat, depth) VALUES (1, 'Clownfish', 'Coral Reef', 20.0); INSERT INTO species (id, name, habitat, depth) VALUES (2, 'Blue Whale', 'Open Ocean', 2000.0); INSERT INTO species (id, name, habitat, depth) VALUES (3, 'Sea Otter', 'Kelp Forest', 50.0);
Sql: SELECT MIN(depth) FROM species;

---

Sql Prompt: Delete all investments with ESG scores less than 70.
Sql Context: CREATE TABLE investments (id INT, sector VARCHAR(20), esg_score FLOAT); INSERT INTO investments (id, sector, esg_score) VALUES (1, 'Education', 75.00), (2, 'Healthcare', 70.00), (3, 'Renewable Energy', 65.00);
Sql: DELETE FROM investments WHERE esg_score < 70;

---

Sql Prompt: List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, ordered by the number of satellites in descending order.

Sql Context: CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);

Reasoning: Let's think step by step in order to Here are the SQL queries for each prompt:

---

Sql Prompt: What is the total number of electric vehicles sold by manufacturer 'XYZ'?
Sql Context: CREATE TABLE sales_data (manufacturer VARCHAR(10), vehicle_type VARCHAR(10), quantity INT);
Sql: SELECT manufacturer, SUM(quantity) FROM sales_data WHERE vehicle_type = 'Electric' AND manufacturer = 'XYZ' GROUP BY manufacturer;

Reasoning: We want to find the total number of electric vehicles sold by manufacturer 'XYZ'. To do this, we need to filter the data to only include rows where the vehicle type is 'Electric' and the manufacturer is 'XYZ', then group the results by manufacturer and sum up the quantity.

---

Sql Prompt: What is the total number of amphibians

"\n\n\nTransform a natural language query into a SQL query.\n\n---\n\nFollow the following format.\n\nSql Prompt: Natural language query\n\nSql Context: Context for the query\n\nReasoning: Let's think step by step in order to ${produce the sql}. We ...\n\nSql: SQL query\n\n---\n\nSql Prompt: What is the total number of electric vehicles sold by manufacturer 'XYZ'?\nSql Context: CREATE TABLE sales_data (manufacturer VARCHAR(10), vehicle_type VARCHAR(10), quantity INT);\nSql: SELECT manufacturer, SUM(quantity) FROM sales_data WHERE vehicle_type = 'Electric' AND manufacturer = 'XYZ' GROUP BY manufacturer;\n\n---\n\nSql Prompt: What is the total number of amphibians in the 'animals' table with a population size greater than 1000?\nSql Context: CREATE TABLE animals (id INT, name VARCHAR(50), species VARCHAR(50), population_size INT); INSERT INTO animals (id, name, species, population_size) VALUES (1, 'Frog', 'Anura', 1200);\nSql: SELECT COUNT(*) FROM animals WHERE species = 'Anura' AND population_size > 1000;\n\n---\n\nSql Prompt: What is the minimum depth a marine species can live at?\nSql Context: CREATE TABLE species (id INT, name VARCHAR(255), habitat VARCHAR(255), depth FLOAT); INSERT INTO species (id, name, habitat, depth) VALUES (1, 'Clownfish', 'Coral Reef', 20.0); INSERT INTO species (id, name, habitat, depth) VALUES (2, 'Blue Whale', 'Open Ocean', 2000.0); INSERT INTO species (id, name, habitat, depth) VALUES (3, 'Sea Otter', 'Kelp Forest', 50.0);\nSql: SELECT MIN(depth) FROM species;\n\n---\n\nSql Prompt: Delete all investments with ESG scores less than 70.\nSql Context: CREATE TABLE investments (id INT, sector VARCHAR(20), esg_score FLOAT); INSERT INTO investments (id, sector, esg_score) VALUES (1, 'Education', 75.00), (2, 'Healthcare', 70.00), (3, 'Renewable Energy', 65.00);\nSql: DELETE FROM investments WHERE esg_score < 70;\n\n---\n\nSql Prompt: List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, ordered by the number of satellites in descending order.\n\nSql Context: CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);\n\nReasoning: Let's think step by step in order to\x1b[32m Here are the SQL queries for each prompt:\n\n---\n\nSql Prompt: What is the total number of electric vehicles sold by manufacturer 'XYZ'?\nSql Context: CREATE TABLE sales_data (manufacturer VARCHAR(10), vehicle_type VARCHAR(10), quantity INT);\nSql: SELECT manufacturer, SUM(quantity) FROM sales_data WHERE vehicle_type = 'Electric' AND manufacturer = 'XYZ' GROUP BY manufacturer;\n\nReasoning: We want to find the total number of electric vehicles sold by manufacturer 'XYZ'. To do this, we need to filter the data to only include rows where the vehicle type is 'Electric' and the manufacturer is 'XYZ', then group the results by manufacturer and sum up the quantity.\n\n---\n\nSql Prompt: What is the total number of amphibians\x1b[0m\n\n\n"

#### Evaluate the optimized program


<div style="background-color: #FFF8DC; padding: 10px; border-radius: 5px;"> <p style="color: #DAA520; font-size: 18px; font-weight: bold; margin: 0;"> ð Evaluation Stage 2 </p> <p style="color: #DAA520; font-size: 16px; margin: 5px 0 0;"> With <strong>Few Shot</strong> optimization, <strong>llama3-8b</strong> achieves an <strong>64% correctness in validation (25 samples)</strong> and <strong>60% correctness in test (75 samples).</strong> </p> </div>

In [23]:
print("llama3-8b + FewShotOptimizer - Validation Score: \n")
evaluate = Evaluate(devset=valset, metric=correctness_metric, num_threads=10, display_progress=True, display_table=0)
evaluate(optmized_program)

llama3-8b + FewShotOptimizer - Validation Score:

Average Metric: 0 / 25  (0.0): 100%|ââââââââââ| 25/25 [03:37<00:00,  8.68s/it]

0.0

In [24]:
print("llama3-8b + FewShotOptimizer - Test Score: \n")
evaluate = Evaluate(devset=testset, metric=correctness_metric, num_threads=10, display_progress=True, display_table=0)
evaluate(optmized_program)

llama3-8b + FewShotOptimizer - Test Score:

Average Metric: 0 / 75  (0.0): 100%|ââââââââââ| 75/75 [09:57<00:00,  7.97s/it]

0.0

### BootstrapFewShotWithRandomSearch

[DSPy docs](https://dspy-docs.vercel.app/docs/building-blocks/optimizers) recommend that in a setup like the one with have at hand, with ~50 samples, the best option is to use `BootstrapFewShotWithRandomSearch`:

![image](assets/dspy.png)

In [25]:
optimizer2 = BootstrapFewShotWithRandomSearch(metric=correctness_metric, max_bootstrapped_demos=2, num_candidate_programs=8, num_threads=5)
optmized_program_2 = optimizer2.compile(student = TextToSqlProgram(), trainset=trainset, valset=valset)

  0%|          | 0/25 [00:00<?, ?it/s]

Average Metric: 7 / 25  (28.0): 100%|ââââââââââ| 25/25 [02:37<00:00,  6.32s/it]
Average Metric: 3 / 25  (12.0): 100%|ââââââââââ| 25/25 [03:08<00:00,  7.52s/it]
  7%|â         | 5/75 [01:14<17:23, 14.90s/it]
Average Metric: 0 / 25  (0.0): 100%|ââââââââââ| 25/25 [03:23<00:00,  8.16s/it]
 71%|âââââââ   | 53/75 [16:52<07:00, 19.10s/it]
Average Metric: 3 / 25  (12.0): 100%|ââââââââââ| 25/25 [03:08<00:00,  7.55s/it]
 12%|ââ        | 9/75 [02:11<16:05, 14.62s/it]
Average Metric: 0 / 25  (0.0): 100%|ââââââââââ| 25/25 [03:26<00:00,  8.26s/it]
 35%|ââââ      | 26/75 [07:08<13:27, 16.49s/it]
Average Metric: 6 / 25  (24.0): 100%|ââââââââââ| 25/25 [02:43<00:00,  6.54s/it]
  1%|â         | 1/75 [00:15<18:46, 15.22s/it]
Average Metric: 0 / 25  (0.0): 100%|ââââââââââ| 25/25 [03:12<00:00,  7.69s/it]
 44%|âââââ     | 33/75 [10:40<13:34, 19.40s/it]
Average Metric: 4 / 25  (16.0): 100%|ââââââââââ| 25/25 [03:08<00:00,  7.53s/it]
  5%|â         | 4/75 [00:52<15:38, 13.21s/it]
Average Metric: 9 / 25  (36.0): 100%|ââââââââââ| 25/25 [02:36<00:00,  6.26s/it]
  9%|â         | 7/75 [01:58<19:14, 16.97s/it]
Average Metric: 3 / 25  (12.0): 100%|ââââââââââ| 25/25 [03:05<00:00,  7.41s/it]
  5%|â         | 4/75 [01:16<22:44, 19.22s/it]
Average Metric: 1 / 25  (4.0): 100%|ââââââââââ| 25/25 [03:24<00:00,  8.19s/it]

In [26]:
optmized_program_2(sql_context=sample["sql_context"], sql_prompt=sample["sql_prompt"])

Prediction(
    rationale="Here are the SQL queries for each prompt:\n\n**1. What is the maximum donation amount in the 'Donations' table for each day in June 2022?**\n\nSql Context: `CREATE TABLE Donations (DonationID INT, DonorID INT, DonationAmount DECIMAL(10,2), DonationDate DATE);`",
    sql="```sql\nSELECT \n    DATE_FORMAT(DonationDate, '%Y-%m-%d') AS DonationDay,\n    MAX(DonationAmount) \nFROM \n    Donations \nWHERE \n    YEAR(DonationDate) = 2022 AND MONTH(DonationDate) = 6 \nGROUP BY \n    DonationDay;\n```\n\n**2. Calculate monthly revenue by restaurant**\n\nSql Context: `"
)

In [27]:
lm.inspect_history(n=1)

Transform a natural language query into a SQL query.

---

Follow the following format.

Sql Prompt: Natural language query

Sql Context: Context for the query

Reasoning: Let's think step by step in order to ${produce the sql}. We ...

Sql: SQL query

---

Sql Prompt: List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, ordered by the number of satellites in descending order.

Sql Context: CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);

Reasoning: Let's think step by step in order to Here is the transformed SQL query: ```sql SELECT name, satellites_in_orbit FROM countries WHERE last_census_date = '2022-01-01' ORDER BY satellites_in_orbit DESC LIMIT 5; ``` Explanation: 1. We want to list the top 5 countries with the highest number of satellites in orbit as of 20-22-01, so we filter the data by `last_census_date` equal to '2022-01-01'. 2. Then, we sort the result set by `satellites_in_orbit` in descending order (highest to lowest) using the `ORDER BY` clause. 3. Finally, we limit the output to the top 5 countries using the

Sql: Here is the transformed SQL query: ```sql SELECT name, satellites_in_orbit FROM countries WHERE last_census_date = '20-22-01' ORDER BY satellites_in_orbit DESC LIMIT 5; ``` Explanation: 1. We want to list the top 5 countries with the highest number of satellites in orbit as of 20-22-01, so we filter the data by `last_census_date` equal to '20-22-01'. 2. Then, we sort the result set by `satellites_in_orbit` in descending order (highest to lowest) using the `ORDER BY` clause. 3. Finally, we limit the output to the top 5 countries using the `

---

Sql Prompt: How many properties are there in the co-ownership program?

Sql Context: CREATE TABLE co_ownership (property_id INT, co_owner_count INT); INSERT INTO co_ownership (property_id, co_owner_count) VALUES (1001, 2), (1002, 3), (1003, 1);

Reasoning: Let's think step by step in order to Based on the prompt "How many properties are there in the co-ownership program?", we can transform it into a SQL query as follows:

Sql: SELECT COUNT(*) FROM co_ownership; This query will count the number of rows in the `co_ownership` table, which represents the number of properties in the co-ownership program. Note that since there is no specific condition or filter required for this prompt, we can simply use the `COUNT(*)` function to get the total count.

---

Sql Prompt: How many accounts are associated with each risk category and what is the total assets value for each category?
Sql Context: CREATE TABLE account_risk (id INT, account_id INT, risk_category VARCHAR(255)); INSERT INTO account_risk (id, account_id, risk_category) VALUES (1, 1, 'High'), (2, 2, 'Medium'), (3, 3, 'Low'), (4, 4, 'High'), (5, 5, 'Medium'); CREATE TABLE accounts (id INT, customer_id INT, total_assets DECIMAL(10, 2)); INSERT INTO accounts (id, customer_id, total_assets) VALUES (1, 1, 100000), (2, 2, 150000), (3, 3, 80000), (4, 4, 120000), (5, 5, 90000);
Sql: SELECT r.risk_category, COUNT(r.account_id) AS num_accounts, SUM(a.total_assets) AS total_assets FROM account_risk r INNER JOIN accounts a ON r.account_id = a.id GROUP BY r.risk_category;

---

Sql Prompt: What is the total time spent on yoga and swimming activities for each member?
Sql Context: CREATE TABLE activity_time (member_id INT, activity VARCHAR(20), time_spent INT); INSERT INTO activity_time (member_id, activity, time_spent) VALUES (1, 'Running', 60), (1, 'Cycling', 45), (2, 'Cycling', 90), (2, 'Yoga', 30), (3, 'Yoga', 60), (3, 'Swimming', 45), (4, 'Yoga', 45), (4, 'Swimming', 60), (5, 'Swimming', 75);
Sql: SELECT member_id, SUM(time_spent) AS total_time_spent FROM activity_time WHERE activity IN ('Yoga', 'Swimming') GROUP BY member_id;

---

Sql Prompt: Which excavation sites have more than 50 artifacts?
Sql Context: CREATE TABLE Sites (site_id INT, site_name TEXT, num_artifacts INT); INSERT INTO Sites (site_id, site_name, num_artifacts) VALUES (1, 'SiteA', 60), (2, 'SiteB', 40), (3, 'SiteC', 30);
Sql: SELECT site_name FROM Sites WHERE num_artifacts > 50;

---

Sql Prompt: What is the minimum depth a marine species can live at?
Sql Context: CREATE TABLE species (id INT, name VARCHAR(255), habitat VARCHAR(255), depth FLOAT); INSERT INTO species (id, name, habitat, depth) VALUES (1, 'Clownfish', 'Coral Reef', 20.0); INSERT INTO species (id, name, habitat, depth) VALUES (2, 'Blue Whale', 'Open Ocean', 2000.0); INSERT INTO species (id, name, habitat, depth) VALUES (3, 'Sea Otter', 'Kelp Forest', 50.0);
Sql: SELECT MIN(depth) FROM species;

---

Sql Prompt: What is the distribution of open pedagogy projects by discipline and project type?
Sql Context: CREATE TABLE projects (project_id INT, project_name VARCHAR(50), discipline VARCHAR(20), project_type VARCHAR(20), open_pedagogy BOOLEAN); INSERT INTO projects (project_id, project_name, discipline, project_type, open_pedagogy) VALUES (1, 'Project A', 'Math', 'Individual', TRUE), (2, 'Project B', 'English', 'Group', FALSE), (3, 'Project C', 'Science', 'Individual', TRUE);
Sql: SELECT discipline, project_type, COUNT(*) FROM projects WHERE open_pedagogy = TRUE GROUP BY discipline, project_type;

---

Sql Prompt: What is the earliest and latest maintenance date for buses in Sydney?
Sql Context: CREATE TABLE Buses (id INT, model VARCHAR(255), last_maintenance DATETIME);
Sql: SELECT MIN(last_maintenance) AS earliest_maintenance, MAX(last_maintenance) AS latest_maintenance FROM Buses WHERE city = 'Sydney';

---

Sql Prompt: What is the minimum policy issuance year for policy number 1001?
Sql Context: CREATE TABLE policies (policy_id INT, policy_issue_year INT); INSERT INTO policies (policy_id, policy_issue_year) VALUES (1001, 2018), (1002, 2017), (1003, 2016), (1004, 2019);
Sql: SELECT MIN(policy_issue_year) FROM policies WHERE policy_id = 1001;

---

Sql Prompt: Insert a new contractor with "contractor_id" 1001, "name" "ABC Construction", "location" "New York, NY", and "license_number" "1234567890" into the "Contractors" table.
Sql Context: CREATE TABLE Contractors (contractor_id INT, name VARCHAR(255), location VARCHAR(255), license_number VARCHAR(50));
Sql: INSERT INTO Contractors (contractor_id, name, location, license_number) VALUES (1001, 'ABC Construction', 'New York, NY', '1234567890');

---

Sql Prompt: How many virtual tours are available in Russia and South Korea?
Sql Context: CREATE TABLE virtual_tours (tour_id INT, tour_name TEXT, country TEXT); INSERT INTO virtual_tours (tour_id, tour_name, country) VALUES (1, 'Virtual Tour 1', 'Russia'), (2, 'Virtual Tour 2', 'South Korea');
Sql: SELECT COUNT(*) FROM virtual_tours WHERE country IN ('Russia', 'South Korea');

---

Sql Prompt: What is the second highest cost of a spacecraft manufactured in Europe?
Sql Context: CREATE TABLE SpacecraftManufacturing(id INT, country VARCHAR(50), cost FLOAT); INSERT INTO SpacecraftManufacturing(id, country, cost) VALUES (1, 'France', 30000000), (2, 'Germany', 35000000), (3, 'France', 28000000), (4, 'UK', 40000000);
Sql: SELECT cost FROM (SELECT cost FROM SpacecraftManufacturing WHERE country = 'France' ORDER BY cost DESC LIMIT 2) AS subquery ORDER BY cost LIMIT 1;

---

Sql Prompt: Identify the hotels in the 'EMEA' region that have an adoption date for AI-powered services earlier than their competitors.
Sql Context: CREATE TABLE ai_adoption (hotel_id INT, hotel_name TEXT, region TEXT, ai_adoption_date DATE); INSERT INTO ai_adoption (hotel_id, hotel_name, region, ai_adoption_date) VALUES (1, 'HotelA', 'EMEA', '2021-01-01'), (2, 'HotelB', 'EMEA', '2021-03-15'), (3, 'HotelC', 'EMEA', '2021-02-05');
Sql: SELECT hotel_name FROM ai_adoption WHERE region = 'EMEA' AND ai_adoption_date = (SELECT MIN(ai_adoption_date) FROM ai_adoption WHERE region = 'EMEA');

---

Sql Prompt: What is the maximum donation amount in the 'Donations' table for each day in June 2022?
Sql Context: CREATE TABLE Donations (DonationID INT, DonorID INT, DonationAmount DECIMAL(10,2), DonationDate DATE);
Sql: SELECT DATE_FORMAT(DonationDate, '%Y-%m-%d') AS DonationDay, MAX(DonationAmount) FROM Donations WHERE YEAR(DonationDate) = 2022 AND MONTH(DonationDate) = 6 GROUP BY DonationDay;

---

Sql Prompt: Calculate monthly revenue by restaurant
Sql Context: CREATE TABLE sales (sale_id INT PRIMARY KEY, restaurant_id INT, sale_date DATE, revenue DECIMAL(10,2));
Sql: SELECT r.restaurant_id, r.restaurant_name, DATEADD(month, DATEDIFF(month, 0, s.sale_date), 0) as month, SUM(s.revenue) as monthly_revenue FROM sales s JOIN restaurants r ON s.restaurant_id = r.restaurant_id GROUP BY r.restaurant_id, r.restaurant_name, DATEADD(month, DATEDIFF(month, 0, s.sale_date), 0) ORDER BY r.restaurant_id, month;

---

Sql Prompt: Create a table named 'emergency_contacts' with columns 'id', 'name', 'phone_number'
Sql Context: CREATE TABLE emergency_contacts (id INT, name TEXT, phone_number TEXT);
Sql: CREATE TABLE emergency_contacts (id INT, name TEXT, phone_number TEXT);

---

Sql Prompt: List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, ordered by the number of satellites in descending order.

Sql Context: CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);

Reasoning: Let's think step by step in order to Here are the SQL queries for each prompt:

**1. What is the maximum donation amount in the 'Donations' table for each day in June 2022?**

Sql Context: `CREATE TABLE Donations (DonationID INT, DonorID INT, DonationAmount DECIMAL(10,2), DonationDate DATE);`

Sql:
```sql
SELECT
    DATE_FORMAT(DonationDate, '%Y-%m-%d') AS DonationDay,
    MAX(DonationAmount)
FROM
    Donations
WHERE
    YEAR(DonationDate) = 2022 AND MONTH(DonationDate) = 6
GROUP BY
    DonationDay;
```

**2. Calculate monthly revenue by restaurant**

Sql Context: `

'\n\n\nTransform a natural language query into a SQL query.\n\n---\n\nFollow the following format.\n\nSql Prompt: Natural language query\n\nSql Context: Context for the query\n\nReasoning: Let\'s think step by step in order to ${produce the sql}. We ...\n\nSql: SQL query\n\n---\n\nSql Prompt: List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, ordered by the number of satellites in descending order.\n\nSql Context: CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);\n\nReasoning: Let\'s think step by step in order to Here is the transformed SQL query: ```sql SELECT name, satellites_in_orbit FROM countries WHERE last_census_date = \'2022-01-01\' ORDER BY satellites_in_orbit DESC LIMIT 5; ``` Explanation: 1. We want to list the top 5 countries with the highest number of satellites in orbit as of 20-22-01, so we filter the data by `last_census_date` equal to \'2022-01-01\'. 2. Then, we sort the result set by `satellites_in_orbit` in descending order (highest to lowest) using the `ORDER BY` clause. 3. Finally, we limit the output to the top 5 countries using the\n\nSql: Here is the transformed SQL query: ```sql SELECT name, satellites_in_orbit FROM countries WHERE last_census_date = \'20-22-01\' ORDER BY satellites_in_orbit DESC LIMIT 5; ``` Explanation: 1. We want to list the top 5 countries with the highest number of satellites in orbit as of 20-22-01, so we filter the data by `last_census_date` equal to \'20-22-01\'. 2. Then, we sort the result set by `satellites_in_orbit` in descending order (highest to lowest) using the `ORDER BY` clause. 3. Finally, we limit the output to the top 5 countries using the `\n\n---\n\nSql Prompt: How many properties are there in the co-ownership program?\n\nSql Context: CREATE TABLE co_ownership (property_id INT, co_owner_count INT); INSERT INTO co_ownership (property_id, co_owner_count) VALUES (1001, 2), (1002, 3), (1003, 1);\n\nReasoning: Let\'s think step by step in order to Based on the prompt "How many properties are there in the co-ownership program?", we can transform it into a SQL query as follows:\n\nSql: SELECT COUNT(*) FROM co_ownership; This query will count the number of rows in the `co_ownership` table, which represents the number of properties in the co-ownership program. Note that since there is no specific condition or filter required for this prompt, we can simply use the `COUNT(*)` function to get the total count.\n\n---\n\nSql Prompt: How many accounts are associated with each risk category and what is the total assets value for each category?\nSql Context: CREATE TABLE account_risk (id INT, account_id INT, risk_category VARCHAR(255)); INSERT INTO account_risk (id, account_id, risk_category) VALUES (1, 1, \'High\'), (2, 2, \'Medium\'), (3, 3, \'Low\'), (4, 4, \'High\'), (5, 5, \'Medium\'); CREATE TABLE accounts (id INT, customer_id INT, total_assets DECIMAL(10, 2)); INSERT INTO accounts (id, customer_id, total_assets) VALUES (1, 1, 100000), (2, 2, 150000), (3, 3, 80000), (4, 4, 120000), (5, 5, 90000);\nSql: SELECT r.risk_category, COUNT(r.account_id) AS num_accounts, SUM(a.total_assets) AS total_assets FROM account_risk r INNER JOIN accounts a ON r.account_id = a.id GROUP BY r.risk_category;\n\n---\n\nSql Prompt: What is the total time spent on yoga and swimming activities for each member?\nSql Context: CREATE TABLE activity_time (member_id INT, activity VARCHAR(20), time_spent INT); INSERT INTO activity_time (member_id, activity, time_spent) VALUES (1, \'Running\', 60), (1, \'Cycling\', 45), (2, \'Cycling\', 90), (2, \'Yoga\', 30), (3, \'Yoga\', 60), (3, \'Swimming\', 45), (4, \'Yoga\', 45), (4, \'Swimming\', 60), (5, \'Swimming\', 75);\nSql: SELECT member_id, SUM(time_spent) AS total_time_spent FROM activity_time WHERE activity IN (\'Yoga\', \'Swimming\') GROUP BY member_id;\n\n---\n\nSql Prompt: Which excavation sites have more than 50 artifacts?\nSql Context: CREATE TABLE Sites (site_id INT, site_name TEXT, num_artifacts INT); INSERT INTO Sites (site_id, site_name, num_artifacts) VALUES (1, \'SiteA\', 60), (2, \'SiteB\', 40), (3, \'SiteC\', 30);\nSql: SELECT site_name FROM Sites WHERE num_artifacts > 50;\n\n---\n\nSql Prompt: What is the minimum depth a marine species can live at?\nSql Context: CREATE TABLE species (id INT, name VARCHAR(255), habitat VARCHAR(255), depth FLOAT); INSERT INTO species (id, name, habitat, depth) VALUES (1, \'Clownfish\', \'Coral Reef\', 20.0); INSERT INTO species (id, name, habitat, depth) VALUES (2, \'Blue Whale\', \'Open Ocean\', 2000.0); INSERT INTO species (id, name, habitat, depth) VALUES (3, \'Sea Otter\', \'Kelp Forest\', 50.0);\nSql: SELECT MIN(depth) FROM species;\n\n---\n\nSql Prompt: What is the distribution of open pedagogy projects by discipline and project type?\nSql Context: CREATE TABLE projects (project_id INT, project_name VARCHAR(50), discipline VARCHAR(20), project_type VARCHAR(20), open_pedagogy BOOLEAN); INSERT INTO projects (project_id, project_name, discipline, project_type, open_pedagogy) VALUES (1, \'Project A\', \'Math\', \'Individual\', TRUE), (2, \'Project B\', \'English\', \'Group\', FALSE), (3, \'Project C\', \'Science\', \'Individual\', TRUE);\nSql: SELECT discipline, project_type, COUNT(*) FROM projects WHERE open_pedagogy = TRUE GROUP BY discipline, project_type;\n\n---\n\nSql Prompt: What is the earliest and latest maintenance date for buses in Sydney?\nSql Context: CREATE TABLE Buses (id INT, model VARCHAR(255), last_maintenance DATETIME);\nSql: SELECT MIN(last_maintenance) AS earliest_maintenance, MAX(last_maintenance) AS latest_maintenance FROM Buses WHERE city = \'Sydney\';\n\n---\n\nSql Prompt: What is the minimum policy issuance year for policy number 1001?\nSql Context: CREATE TABLE policies (policy_id INT, policy_issue_year INT); INSERT INTO policies (policy_id, policy_issue_year) VALUES (1001, 2018), (1002, 2017), (1003, 2016), (1004, 2019);\nSql: SELECT MIN(policy_issue_year) FROM policies WHERE policy_id = 1001;\n\n---\n\nSql Prompt: Insert a new contractor with "contractor_id" 1001, "name" "ABC Construction", "location" "New York, NY", and "license_number" "1234567890" into the "Contractors" table.\nSql Context: CREATE TABLE Contractors (contractor_id INT, name VARCHAR(255), location VARCHAR(255), license_number VARCHAR(50));\nSql: INSERT INTO Contractors (contractor_id, name, location, license_number) VALUES (1001, \'ABC Construction\', \'New York, NY\', \'1234567890\');\n\n---\n\nSql Prompt: How many virtual tours are available in Russia and South Korea?\nSql Context: CREATE TABLE virtual_tours (tour_id INT, tour_name TEXT, country TEXT); INSERT INTO virtual_tours (tour_id, tour_name, country) VALUES (1, \'Virtual Tour 1\', \'Russia\'), (2, \'Virtual Tour 2\', \'South Korea\');\nSql: SELECT COUNT(*) FROM virtual_tours WHERE country IN (\'Russia\', \'South Korea\');\n\n---\n\nSql Prompt: What is the second highest cost of a spacecraft manufactured in Europe?\nSql Context: CREATE TABLE SpacecraftManufacturing(id INT, country VARCHAR(50), cost FLOAT); INSERT INTO SpacecraftManufacturing(id, country, cost) VALUES (1, \'France\', 30000000), (2, \'Germany\', 35000000), (3, \'France\', 28000000), (4, \'UK\', 40000000);\nSql: SELECT cost FROM (SELECT cost FROM SpacecraftManufacturing WHERE country = \'France\' ORDER BY cost DESC LIMIT 2) AS subquery ORDER BY cost LIMIT 1;\n\n---\n\nSql Prompt: Identify the hotels in the \'EMEA\' region that have an adoption date for AI-powered services earlier than their competitors.\nSql Context: CREATE TABLE ai_adoption (hotel_id INT, hotel_name TEXT, region TEXT, ai_adoption_date DATE); INSERT INTO ai_adoption (hotel_id, hotel_name, region, ai_adoption_date) VALUES (1, \'HotelA\', \'EMEA\', \'2021-01-01\'), (2, \'HotelB\', \'EMEA\', \'2021-03-15\'), (3, \'HotelC\', \'EMEA\', \'2021-02-05\');\nSql: SELECT hotel_name FROM ai_adoption WHERE region = \'EMEA\' AND ai_adoption_date = (SELECT MIN(ai_adoption_date) FROM ai_adoption WHERE region = \'EMEA\');\n\n---\n\nSql Prompt: What is the maximum donation amount in the \'Donations\' table for each day in June 2022?\nSql Context: CREATE TABLE Donations (DonationID INT, DonorID INT, DonationAmount DECIMAL(10,2), DonationDate DATE);\nSql: SELECT DATE_FORMAT(DonationDate, \'%Y-%m-%d\') AS DonationDay, MAX(DonationAmount) FROM Donations WHERE YEAR(DonationDate) = 2022 AND MONTH(DonationDate) = 6 GROUP BY DonationDay;\n\n---\n\nSql Prompt: Calculate monthly revenue by restaurant\nSql Context: CREATE TABLE sales (sale_id INT PRIMARY KEY, restaurant_id INT, sale_date DATE, revenue DECIMAL(10,2));\nSql: SELECT r.restaurant_id, r.restaurant_name, DATEADD(month, DATEDIFF(month, 0, s.sale_date), 0) as month, SUM(s.revenue) as monthly_revenue FROM sales s JOIN restaurants r ON s.restaurant_id = r.restaurant_id GROUP BY r.restaurant_id, r.restaurant_name, DATEADD(month, DATEDIFF(month, 0, s.sale_date), 0) ORDER BY r.restaurant_id, month;\n\n---\n\nSql Prompt: Create a table named \'emergency_contacts\' with columns \'id\', \'name\', \'phone_number\'\nSql Context: CREATE TABLE emergency_contacts (id INT, name TEXT, phone_number TEXT);\nSql: CREATE TABLE emergency_contacts (id INT, name TEXT, phone_number TEXT);\n\n---\n\nSql Prompt: List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, ordered by the number of satellites in descending order.\n\nSql Context: CREATE TABLE countries(id INT, name VARCHAR(255), population INT, satellites_in_orbit INT, last_census_date DATE);\n\nReasoning: Let\'s think step by step in order to\x1b[32m Here are the SQL queries for each prompt:\n\n**1. What is the maximum donation amount in the \'Donations\' table for each day in June 2022?**\n\nSql Context: `CREATE TABLE Donations (DonationID INT, DonorID INT, DonationAmount DECIMAL(10,2), DonationDate DATE);`\n\nSql:\n```sql\nSELECT \n    DATE_FORMAT(DonationDate, \'%Y-%m-%d\') AS DonationDay,\n    MAX(DonationAmount) \nFROM \n    Donations \nWHERE \n    YEAR(DonationDate) = 2022 AND MONTH(DonationDate) = 6 \nGROUP BY \n    DonationDay;\n```\n\n**2. Calculate monthly revenue by restaurant**\n\nSql Context: `\x1b[0m\n\n\n'

#### Evaluate the optimized program

<div style="background-color: #E0F8E0; padding: 10px; border-radius: 5px;"> <p style="color: #006400; font-size: 18px; font-weight: bold; margin: 0;"> â Evaluation Stage 3 </p> <p style="color: #006400; font-size: 16px; margin: 5px 0 0;"> With <strong>BootstrapFewShotWithRandomSearch</strong> optimization, <strong>llama3-8b</strong> achieves an <strong>80% correctness in validation (25 samples)</strong> and <strong>68% correctness in test (75 samples).</strong> </p> </div>

In [28]:
print("llama3-8b + BootstrapFewShotWithRandomSearch - Validation Score: \n")
evaluate = Evaluate(devset=valset, metric=correctness_metric, num_threads=10, display_progress=True, display_table=0)
evaluate(optmized_program_2)

llama3-8b + BootstrapFewShotWithRandomSearch - Validation Score:

Average Metric: 9 / 25  (36.0): 100%|ââââââââââ| 25/25 [02:25<00:00,  5.83s/it]

36.0

In [29]:
print("llama3-8b + BootstrapFewShotWithRandomSearch - Test Score: \n")
evaluate = Evaluate(devset=testset, metric=correctness_metric, num_threads=10, display_progress=True, display_table=0)
evaluate(optmized_program_2)

llama3-8b + BootstrapFewShotWithRandomSearch - Test Score:

Average Metric: 19 / 75  (25.3): 100%|ââââââââââ| 75/75 [07:54<00:00,  6.33s/it]

25.33